@import './layout/flex.css';
@import './components/burger.css';
@import './components/button.css';
@import './components/bill.css';
@import './typography/text.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --item-height: 22px;
  }
  .ImageBackground{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('./images/restaurant.jpg');
  }
  @media only screen and (max-width:1182px){
    :root{
      --item-height:18px;
    }
  }
  @media only screen and (max-width:747px){
    :root{
      --item-height:12px;
    }
  }
  @media only screen and (max-width:395px){
    :root{
      --item-height:9px;
    }
  }
  